*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:rgb(82, 163, 255);
    color:white;
    text-align:center;
    margin-top:5%;
    font:15pt arial;
}
section{
    background:white;
    color:black;
    width:40vw;
    margin:auto;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.23);
    border-radius: 5px;
}
.container{
    text-align:start;
    margin-left:5%;
}