*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:rgb(153, 0, 255);
    color:white; 
    font-size:15pt arial;
    font-weight:600;
    margin-top:5%;
}
header{
    text-align:center;
}
section{
    min-height: 60vh;
    width:30vw;
    background:#EDE4FF;
    margin:auto;
    color:#6981d0;
    box-shadow: 3px 3px 5px rgb(61, 14, 172);
    border-radius:10px;
}
div{
    margin:4%;
}
/* inputs */
input{
    border: 2px solid ;
    border-radius: 8px;
    color:#6981d0;
}
.inputs{
    margin-left:4%;
}
.button{
    background:#aab7e4;
}
.button:hover{
    cursor:pointer;
    background: #1e2d60;
}

/*select*/

select{
    border-radius: 5px;
    border: 2px solid #6981d0;
    color: #6981d0;
}
footer{
    font:italic;
    text-align:center;
}