*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgba(85, 120, 223, 0.61);
    font: normal 15pt arial;
    margin-top: 6.8%;
}
header{
    color: white;
    text-align:center;
}
section{
    background: white;
    height:60vh;
    width: 40vw;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.253);
}
div{
    text-align:center;
    padding:2%;
} 
#img{
    max-width: 100%;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
}
footer{
    text-align:center;
    font-style: italic;
    color:white;
}